# Default configuration values
---
sandbox_host_domain: sandboxes.example.com
GIT_BZ_USER: "me@example.com"
GIT_BZ_PASSWORD: "letmeinplz,ty" # Spaces in password break everything, fyi
MAX_SANDBOXES: 10
