<VirtualHost *:80>
    ServerName staff-{{ KOHA_INSTANCE }}.{{ SANDBOX_HOST_DOMAIN }}

    ProxyPass        / http://localhost:{{ docker_port_intranet.stdout }}/ retry=0
    ProxyPassReverse / http://localhost:{{ docker_port_intranet.stdout }}/ retry=0
</VirtualHost>

<VirtualHost *:80>
    ServerName opac-{{ KOHA_INSTANCE }}.{{ SANDBOX_HOST_DOMAIN }}

    ProxyPass        / http://localhost:{{ docker_port_opac.stdout }}/ retry=0
    ProxyPassReverse / http://localhost:{{ docker_port_opac.stdout }}/ retry=0
</VirtualHost>
