<VirtualHost *:80>
    ServerName staff.{{instance_name}}.bwsdev2.bywatersolutions.com

    ProxyPass        / http://localhost:{{ docker_port_intranet.stdout }}/ retry=0
    ProxyPassReverse / http://localhost:{{ docker_port_intranet.stdout }}/ retry=0
</VirtualHost>

<VirtualHost *:80>
    ServerName opac.{{instance_name}}.bwsdev2.bywatersolutions.com

    ProxyPass        / http://localhost:{{ docker_port_opac.stdout }}/ retry=0
    ProxyPassReverse / http://localhost:{{ docker_port_opac.stdout }}/ retry=0
</VirtualHost>
